/*
 * Author: @mrmons
 * Date: 
 *
 * Url: https://github.com/mrmons/tiny-ui
 *
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  background-color: #27282c;
}

ul {
  list-style: none;
}

.container-wrapper {
  float: left;
  width: 100%;
}

header {
  width: 100%;
  margin-right: 0%;
  float: left;
  background-color: #13a8e0;
  padding: 1em;
}
header:last-child {
  margin-right: 0;
}

section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
section:after {
  content: " ";
  display: table;
  clear: both;
}

.col {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.col:after {
  content: " ";
  display: table;
  clear: both;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}
.col li {
  width: 8.33333%;
  margin-right: 0%;
  float: left;
}
.col li:last-child {
  margin-right: 0;
}

aside {
  width: 41.66667%;
  margin-right: 0%;
  float: left;
  background-color: #eeeeee;
  margin-bottom: 1em;
}
aside:last-child {
  margin-right: 0;
}

article {
  width: 58.33333%;
  margin-right: 0%;
  float: left;
  background-color: #eeeeee;
  margin-bottom: 1em;
}
article:last-child {
  margin-right: 0;
}

.container-wrapper {
  height: 100%;
}

.sidebar, .content {
  height: 100%;
  margin: 0px;
  max-height: none !important;
}

.sidebar {
  width: 16.66667%;
  margin-right: 0%;
  float: left;
  background-color: #27282c;
}
.sidebar:last-child {
  margin-right: 0;
}

.content {
  width: 83.33333%;
  margin-right: 0%;
  float: left;
  padding: 1em;
  background-color: white;
}
.content:last-child {
  margin-right: 0;
}
.content .content__alpha {
  width: 50%;
  margin-right: 0%;
  float: left;
  background-color: #ccc;
}
.content .content__alpha:last-child {
  margin-right: 0;
}
.content .content__beta {
  width: 50%;
  margin-right: 0%;
  float: left;
  background-color: #ccc;
}
.content .content__beta:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=tiny-ui.css.map */
