%btnOutline{
	color: $black;
	border: 1px solid $grey;
	padding: 5px 20px;
	text-decoration: none;
	display: inline-block;
	@include border-radius(20px);
}//%btnOutline

%btnBox{
	@include box-sizing();
	padding: 5px 10px;
	display: inline-block;
	background: none;
	text-align: center;
	text-decoration: none;
	border: 0;
	color: $white;
	@include border-radius(4px);
}//%btnBox

[class*="btn--"]{
	font-family: $ft-primary;
	font-size:  $ft-base;
	min-width: 100px;
	min-height: 1px;
	display: inline-block;
	//border-radius: 4px;
	//border: none;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: no-wrap;
}

[class*="btn-outline--"]{
	@extend %btnOutline;
	@include border-radius(2px);
	min-height: 1px;
	vertical-align: middle;
}

//Global All class start with .btn--xxx
.btn--{
	&process,&success,&danger,&warn,&disable,&edit{
		@extend %btnBox;
	}

	&process{
		background-color: $blue;
	}

	&success{
		background-color: $green;
	}//s

	&danger{
		background-color: $red;
	}//danger

	&warn{
		background-color: $orange;
	}//warn

	&disable{
		background-color: $grey;
	}//disable

	&close{
		@extend .fa;
		&:before{
			content: "\f00d";
			color: $grey;
			display: block;
		}//before
	}//close

	&outline-arrow{
		@extend %btnOutline;

		padding: 5px 30px 5px 15px;
		position: relative;

		&:before{
			@extend .fa;
			content: "\f0d7";
			position: absolute;
			top: 8px;
			right: 10px;
			color: #c4c4c4;
			display: block;
		}
	}//edit-outline

	&outline{
		@extend %btnOutline;
		text-align: center;
	}//outline

}//btn--

.btn-expand{
	position: absolute;
	font-size: 2em;
	bottom: 0px;
	right: 0px;
	padding: 15px;

	@extend .fa;

	&:before{
		content: "\f100";
		width: 20px;
		height: 20px;
		display: block;
	}

	@include media(tablet) {
		padding: 5px 20px;
		bottom: 20px;
	    right: 20px;
	}
}
