.form-classic{
	

	input[type="text"],input[type="email"],input[type="password"]{
		@extend %form-field;
		width: 100%;
		
		&.error{
			border: 1px solid $red;
		}
	}//input[type="text"],input[type="email"]

	input[type="submit"]{
		cursor: pointer;
	}


	label[class*="lab--"]{
		color: #aeaeae;
		margin-bottom: 5px;
		display: block;
		font-size: ms(-1);
	}//label[class*="lab--"]


	select[class*="sel--"]{
		@extend %form-field;
		display: block;
		width: 100%;
		border: 1px solid #e9e9e9;
		@include appearance(none);
		color: #5d5d5d;
		@include border-radius(0);
	}//select[class*="sel--"]


	input[type='checkbox'] + label span.checkbox-round{
		width:15px;
	    height:15px;
	    @include border-radius(100%);
	    border: 1px solid $grey;
	    cursor: pointer;
	    position: relative;
	    @extend .fa;

	    @include media(desktop) {
	    	width:20px;
	    	height:20px;
	    }
	}

	input[type='checkbox']:checked + label span.checkbox-round{
		&:after{
			content: "\f00c";
			position: absolute;
			color: $white;
			z-index: 1;
			top: em(0px);
			left: em(0px);
			@include media(desktop) {
				top: em(2px);
				left: em(2px);
			}
	    }

	    &:before{
			content: "";
			display: block;
			background-color: $blue;
			position: absolute;
			top: -2px;
			left: -2px;
			width:16px;
		    height:16px;
		    @include border-radius(100%);

		     @include media(desktop) {
		    	width:21px;
		    	height:21px;
		    }
	    }
	}


	.sel-arrow{
		@extend .fa;
		width: 100%;
		position: relative;
		&:after{
			content: "\f0d7";
			position: absolute;
			top: 11px;
			right: 10px;
			color: #c4c4c4;
			display: block;
		}//after
	}//sel--arrow


	.require-field{
		&:after{
			content: "*";
			color: $red;
			padding: 0 5px;
		}//after
	}//.require-field

	.info-form--col{
		@include col(6);
	}//form--col

	.form-group--date{
		.field--month,.field--year{
			@include col(12);

			@include media (tablet) {
				@include col(3);
			}

		}//.field-group--month,.field-group--year

		.creditcard-tooltip{
			background-color: $grey;
			color: $white;
			padding: 2px 8px;
			font-size: ms(-1);
			@include border-radius(100%);
			cursor: pointer;
		}//.creditcard-tooltip

		.ico--creditcard{
			float: right;
		}//.ico--creditcard

		.field--month{
			margin-right: 20px;
			position: relative;
			&:after{
				content: "/";
				position: absolute;
				right: -13px;
				top: 28px;
				display: none;
				color: $grey;
				@include media(tablet) {
					display: inline;
				}
				//display: block;
			}
		}//field-group--month

		.field--year{
			margin-top: 0;
			@include media(tablet) {
				margin-top: 19px;
			}
		}//field-group--year

		.field--cvv{
			@include col(12);
			position: relative;
			@include media (tablet) {
				@include col(3);
				float: right;
			}
		}//field-group--cvv

		@include clearfix;
	}//form-group--inline

	.form-title{
		margin-bottom: 20px;
	}
}//.form-classic



.form{
	&-payment{
		label{
			margin-bottom: 10px;
			text-indent: 2px;
			display: block;
		}//label
	}

	&-col--left,&-col--right,{
		@include col(12);
		margin-bottom: 0;

		@include media() {
			@include col(6, 12, 200px);
			margin-bottom: 0;
		}
	}

	&--info{
		padding: 0 20px;
		@include box-sizing();
		@include row;
		input,label{
			//@include col(5);	
		}//input,label
	}//info

	&--method{
		@include row;
		.ico--creditcard{
			float: right;
		}//.ico--creditcard

		.field--month{
			margin-right: 20px;
			position: relative;
			&:after{
				content: "/";
				position: absolute;
				right: -13px;
				top: 38px;
				display: none;
				color: $grey;
				@include media(tablet) {
					display: inline;
				}
				//display: block;
			}
		}//.field--month

		.field--year{
			margin-top: 0;
			@include media(tablet) {
				margin-top: 29px;
			}
		}//.field--year
	}//methodd

	@include clearfix;
}//form
