// --- Header
$headerHeight: 70px;

.header{
	width: 100%;
	background-color: $blue;
	height: auto;

	.logo{
		width: 57px;
		height: 40px;
		float: left;
		padding: 0;
		cursor: pointer;
		overflow: hidden;
		@include border-radius(100%);

		@include media(desktop) {
			width: auto;
			height: auto;
			padding: 17px 50px 18px 22px;
			@include border-radius(0);
		}

		img{
			//max-width: 250%;
			@include transform(scale(1.5));
			position: relative;
			left: 41px;
			top: 22px;

			@include media(desktop) {
				@include transform(scale(1.4));
				//width: 130%;
				left: 20px;
				top: 3px;
			}
		}//img
	}

	@include clearfix;

}//header
