%item{
	width: 100%;
	min-height: 100px;
	display: block;
	background-color: $grey;
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;

	a{
	//	display: block;
	float: left;
	width: 100%;
	height: 100%;
	}
}


.item{
	@extend %item;

	&-banner{
		@extend %item;
		@include col(0);
		width: 100%;
		height: 280px;
		@include media(tablet) {
			width: 400px;
		}//media

	}//banner

	&-product{
		@extend %item;
		height: 200px;
		@include col(6);

		@include media(mobileOnly) {
			&:nth-child(odd){
				margin-right:0;
			}//nth-child(odd)
		}

		@include media(tablet) {
			@include col(0);
			width: 190px;
			height: 280px;
		}//media
	}//product

}//item


.item-content{
	margin: 0 auto;
	max-width: 1024px;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;

	&-info{
		display: block;
		color: $white;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 8px;
		border-top: 1px solid rgba(200, 200, 200, 0.5);
		background-color: #000\9; // only for IE-7 & IE-8
		@include linear-gradient(rgba(100,100,100,0.1), rgba(0, 0, 0, 0.5));
		//background-image:linear-gradient(rgba(100,100,100,0.1), rgba(0, 0, 0, 0.5));

		.fa{
			margin-right: 5px;
		}

		&--title{
			float: left;
		}

		&--subcount{
			float: right;
		}
	}//info
}//item-content