//Sidebar
%sidebar{
	@include box-sizing();
	position: absolute;
	transform: translate3d(0,0,0);
	width: 50px;
	z-index: 11;
	height: 100%;
	overflow: hidden;
	@include media(desktop) {
		width: $sidebarWidth;
	}
}//sidebar


// Sidebar and side content setup

.sidebar{
	@extend %sidebar;
	background-color: #26282a; //sidebar color
	color: $linkColor;
	font-weight: 300;
}//sidebar


.side-content{
	@include box-sizing();
	background-color: $white;
	margin-left: 50px;
	display: block;

	@include media(desktop) {
		margin-left: $sidebarWidth;
	}
}//content

