.table-data{
	overflow-x: auto;
	width: 100%;

	th{
		color: $grey;
		font-size: 0.85em;
	}

	td,th{
		position: relative;
		padding: 20px;
		border-bottom: 1px solid lighten($grey,20%);
		text-align: left;

		&:first-child{
			padding-left: 0;
		}
	}
}