
html,body{
	height: 100%;
}

body{
	margin: 0px;
	background-color: #27282c; //sidebarcolor
}


ul{
	list-style: none;
}


.container-wrapper{
	float: left;
  	width: 100%;
}

header{
	@include col(12);
	background-color: #13a8e0; //blue
	padding: 1em;
}//header

section{
	@include container();
	height: 100%;
}//section


.col{
	list-style: none;
	padding: 0;

	@include container();

	@for $i from 1 through $total-columns{
		li{
			@include col(1);
			//background-color: #ccc;
		}//li
	}//for loop

}//col


table{
	thead{

	}//thead

	tbody{

	}//tbody
}//table


aside{
	@include col(5);
	background-color: #eeeeee;
	margin-bottom: 1em;
}

article{
	@include col(7);
	background-color: #eeeeee;
	margin-bottom: 1em;
}

.container-wrapper{
	height: 100%;
}


.sidebar, .content{
	height: 100%;
	margin: 0px;
	max-height: none !important;
}//sidebar, .content

.sidebar{
	@include col(2);
	background-color: #27282c;
}//sidebar

.content{
	

	@include col(10);
	padding: 1em;
	background-color: white;

	.content__alpha{
		@include col(4 of 8);
		background-color: #ccc;
	}

	.content__beta{
		@include col(4 of 8);
		background-color: #ccc;
	}

}//content

// .col{
// 	list-style: none;
// 	padding: 0px;

// 	@for $i from 1 through 12{
	
// 		:nth-child(#{$i}){
// 			//width: $fluid;
// 			float: left;
// 			background: #ccc;

// 			@if($i==1){
// 				margin-left: 0px;
// 			}
// 		}

// 	}//for loop col
// }