// ----------------------
// == Site settings
// ----------------------

// Fonts
$context: 16; // default base font
$headline-font: "Roboto", sans-serif;
$primary-font: "Open Sans",sans-serif;

// Grid
$total-columns: 12 !default;

$max-width: 100%;

$gutter: 0;

// Apple box-sizing to all
$border-box-sizing: true !default;



