%label{
	width: 120px;
	padding: 4px 10px;
	text-transform: uppercase;
	word-break: break-word;
	background: none;
	text-align: center;
	border: 0;
	color: $white;
	display: block;
	font-size: 0.9em;
	@include border-radius(4px);
}


.label{

	&-blue{
		@extend %label;
		background-color: $blue;
	}

	&-green{
		@extend %label;
		background-color: $green;
	}

	&-red{
		@extend %label;
		background-color: $red;
	}

	&-orange{
		@extend %label;
		background-color: $orange;
	}

}