%paginationActive{
	background-color: $blue;
	border-color: $grey;
	color: $white;
}//%paginationActive


.pagination{
	ul{
	margin-top: 25px;
	float: right;

	li{
		float: left;
	}

	a,.pagination--range{
		float: left;
		display: block;
		width: 35px;
		height: 35px;
		padding: 7px 0;
		text-align: center;
		margin: 10px 10px 0 0;
	}

	a{
		@include border-radius(100%);
		border: 1px solid lighten($grey,10%);

		&.current{
			@extend %paginationActive;
		}//current

		&.prev, &.next{
			font-size: 0.8em;
			padding: 10px 0;
		}

		&:hover{
			@extend %paginationActive;
		}//hover
	}//li

	@include clearfix;
	}//.pagination
}
