%btnOutline{
	color: $black;
	border: 1px solid $grey;
	padding: 5px 20px;
	text-decoration: none;
	display: inline-block;
	@include border-radius(20px);
}//%btnOutline

%btnBox{
	@include box-sizing();
	padding: 5px 10px;
	display: inline-block;
	background: none;
	text-align: center;
	text-decoration: none;
	border: 0;
	color: $white;
	@include border-radius(4px);

	&:hover{
		opacity: 0.8;
	}
}//%btnBox
