// Color
//------------------------------------------- 
$white: #fff;
$black: #363636;

$grey: #b7b7b7;
$blue: #12a8df;
$green: #18c99b;
$red: #d33216;
$orange: #fca651;

//Button Color

$btn-color-login: #0078a5;		//dark blue
